$text-shadow            : 0px 0px 5px #fff;
$text-shadow-small      : 0px 0px 3px #fff;
$third-part             : 33.3333333333%;
$border-radius          : 3px;
$font-family            : 'Open Sans', 'sans-serif';
$button-color           : #0072ff;
$button-secondary-color : #999;
$button-warning-color   : #ff002b;
$button-adding-color    : #44af3d;
$light-input-color      : #fff;
$light-input-border     : 1px solid #ccc;
$text-color-dark        : #333;
$transition-background  : background-color .2s ease-in-out;
$transition-color       : color .2s ease-in-out;
$transition-max-height  : max-height .3s ease-in-out;
$mobile-width           : 768px;
$default-ident          : 10px;